body{

    background-color: whitesmoke;
}

.container{
    margin-top: 70px;
    width: 80%;
    margin-left: 10%;
}


.loader__text{
    font-size: 22px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%)
  }


.movies {
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px;
    

}


.movies .movie{
    width: 45%;
    margin-bottom: 100px;
    

}
